* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 3px 6px;
  margin: 12px 2px 2px 2px;
  background-color: rgb(220, 240, 247);
  display: inline;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background-color: lightblue
}

.bottom-row {
  display: inline-block;
}

.rtside {
  margin-left: 18%;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 15px;
  border: 1px solid grey;
  padding: 15px 20px;
}

.shopping-item {
  display: block;
  color: rgb(99, 99, 99);
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.shopping-item__checked {
  text-decoration: line-through;
}

label {
  font-size: 1.2rem;
  line-height: 2rem;
}

.update-button {
  display: inline;
}